.rotate-\[6deg\] {
  transform: rotate(6deg);
}

.rotate-\[12deg\] {
    transform: rotate(12deg);
}

.rotate-\[18deg\] {
    transform: rotate(18deg);
}

.rotate-\[24deg\] {
    transform: rotate(24deg);
}

.rotate-\[30deg\] {
    transform: rotate(30deg);
}

.rotate-\[36deg\] {
    transform: rotate(36deg);
}

.rotate-\[42deg\] {
    transform: rotate(42deg);
}

.rotate-\[48deg\] {
    transform: rotate(48deg);
}

.rotate-\[54deg\] {
    transform: rotate(54deg);
}

.rotate-\[60deg\] {
    transform: rotate(60deg);
}

.rotate-\[66deg\] {
    transform: rotate(66deg);
}

.rotate-\[72deg\] {
    transform: rotate(72deg);
}

.rotate-\[78deg\] {
    transform: rotate(78deg);
}

.rotate-\[84deg\] {
    transform: rotate(84deg);
}

.rotate-\[90deg\] {
    transform: rotate(90deg);
}

.rotate-\[96deg\] {
    transform: rotate(96deg);
}

.rotate-\[102deg\] {
    transform: rotate(102deg);
}

.rotate-\[108deg\] {
    transform: rotate(108deg);
}

.rotate-\[114deg\] {
    transform: rotate(114deg);
}

.rotate-\[120deg\] {
    transform: rotate(120deg);
}

.rotate-\[126deg\] {
    transform: rotate(126deg);
}

.rotate-\[132deg\] {
    transform: rotate(132deg);
}

.rotate-\[138deg\] {
    transform: rotate(138deg);
}

.rotate-\[144deg\] {
    transform: rotate(144deg);
}

.rotate-\[150deg\] {
    transform: rotate(150deg);
}

.rotate-\[156deg\] {
    transform: rotate(156deg);
}

.rotate-\[162deg\] {
    transform: rotate(162deg);
}

.rotate-\[168deg\] {
    transform: rotate(168deg);
}

.rotate-\[174deg\] {
    transform: rotate(174deg);
}

.rotate-\[180deg\] {
    transform: rotate(180deg);
}

.rotate-\[186deg\] {
    transform: rotate(186deg);
}

.rotate-\[192deg\] {
    transform: rotate(192deg);
}

.rotate-\[198deg\] {
    transform: rotate(198deg);
}

.rotate-\[204deg\] {
    transform: rotate(204deg);
}

.rotate-\[210deg\] {
    transform: rotate(210deg);
}

.rotate-\[216deg\] {
    transform: rotate(216deg);
}

.rotate-\[222deg\] {
    transform: rotate(222deg);
}

.rotate-\[228deg\] {
    transform: rotate(228deg);
}

.rotate-\[234deg\] {
    transform: rotate(234deg);
}

.rotate-\[240deg\] {
    transform: rotate(240deg);
}

.rotate-\[246deg\] {
    transform: rotate(246deg);
}

.rotate-\[252deg\] {
    transform: rotate(252deg);
}

.rotate-\[258deg\] {
    transform: rotate(258deg);
}

.rotate-\[264deg\] {
    transform: rotate(264deg);
}

.rotate-\[270deg\] {
    transform: rotate(270deg);
}

.rotate-\[276deg\] {
    transform: rotate(276deg);
}

.rotate-\[282deg\] {
    transform: rotate(282deg);
}

.rotate-\[288deg\] {
    transform: rotate(288deg);
}

.rotate-\[294deg\] {
    transform: rotate(294deg);
}

.rotate-\[300deg\] {
    transform: rotate(300deg);
}

.rotate-\[306deg\] {
    transform: rotate(306deg);
}

.rotate-\[312deg\] {
    transform: rotate(312deg);
}

.rotate-\[318deg\] {
    transform: rotate(318deg);
}

.rotate-\[324deg\] {
    transform: rotate(324deg);
}

.rotate-\[330deg\] {
    transform: rotate(330deg);
}

.rotate-\[336deg\] {
    transform: rotate(336deg);
}

.rotate-\[342deg\] {
    transform: rotate(342deg);
}

.rotate-\[348deg\] {
    transform: rotate(348deg);
}

.rotate-\[354deg\] {
    transform: rotate(354deg);
}

.rotate-\[360deg\] {
    transform: rotate(360deg);
}